

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    }
:root{
    --Pink: hsl(322, 100%, 66%);
    --VeryPaleCyan: hsl(193, 100%, 96%);
--VeryDarkCyan: hsl(192, 100%, 9%);
--GrayishBlue: hsl(208, 11%, 55%);
}


body {
background-color: var(--VeryPaleCyan);
font-size: 18px;

}
.bold{font-weight: 700;}

/*header begin */
.main{ 

height: 100vh;
width: 100wh;
background: url("images/bg-hero-desktop.svg");

}
  
  .header{
  display: flex;
  justify-content: space-between; /**/
  align-items: center; 
  margin: 0px 40px;
  }
  .header img{ 
    height: 30px;
    margin: 20px;
  }
  
  /*header end */
  /*main start i called it elements */

.main .elements{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 40px;
}

.desktop {
display: flex;
   max-height: 60vh;
   margin: 30px;
  }
.main h1{

font-family: "Poppins";
margin: 30px 0px;
font-size: 2.7rem; /*x 2.7 size of html document default 14px */
line-height: 4rem; 
}

.main p {
  
font-family: "Poppins";

font-weight: 600;
}

.main button{
    font-family: "Open Sans", sans-serif;
    color: var(--Violet);
  padding: 10px 50px;
  border-radius: 30px;
  font-weight: 600;
border: 0;
margin: 30px 0px;
}


.btn {
    font-size: 0.8rem;
    padding: 20px 40px;
    background-color: #e11584;
    color: white  !important;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 18px 1px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px;
  }
  .btn.white {
    background-color: white !important;
    color: black  !important;
  }
  .btn:hover {
    background: #fff;
    color: #e11584 !important;
  } /*main end */
/*cards*/
.Card{
    display: flex;
    justify-content: center; /**/
    align-items: center; 
    margin: 50px;
 
}
.box {
  border-radius: 40px;
    display: flex;
    justify-content: space-between; /**/
   align-items: center;
    max-width: 70vw;
    max-height: 80vh;
    padding: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
 .box img{
    max-width: 80%;
    margin: 30px;
}

/*contact info */
.contact{
    margin-top: 100px;
display: flex;
justify-content: center;
width: 100vw;
height: 100vh;
position: relative;
}
.contact .logo{
    width: 100px;
    
background-color: #fff;
border: #fff;}

.contact .smallBox{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: var(--VeryPaleCyan); 
    border-radius: 50px;
   width: 60%;
    height: 40%;
    display: flex;
justify-content: center;
    align-items: center;
  flex-direction: column;
  z-index: 2;
  
}
.contactInfo{
   
background-color: var(--VeryDarkCyan);
color: #fff;
display: flex;
justify-content: space-evenly;
align-items: center ;

padding-bottom: 50px;
position:absolute;
bottom: 0;
width: 100vw;
height: 80%;
}
.info, .aboutUs, .career, .socials-section {
    flex: 1;
    max-width: 200px; /* Limit the width of each child div */
 margin-top: 50px;
  }
  .contactInfo p{
    line-height: 1;
    margin: 10px;
  }
.contactInfo a {
    text-decoration: none; 
    color: white;
}
.contactInfo a:hover{
    color: #e11584;
}
 /*social links */
 

    .socials {
        display: flex;
        align-items: center;
        list-style: none;
      }
      
    
      .socials-link {
        width: 2rem;
        height: 2rem;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-right: 10px;
    display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
       
      }
      
      .socials-link:hover {
        background: #fff;
        color: hsl(257, 40%, 49%);
      }
      
    
    
    
/* Responsive styles for smaller screens */

    @media screen and ((max-width: 800px)){
        body {   width: 50%;}
        .main .elements{
            flex-direction: column;

            margin: 10px;
        }
        .desktop { max-height :100px;
            margin: 10px;
        }
        .box{
        flex-direction: column;
       }
        .contactInfo{
            margin: 50px;
flex-direction: column;

        }
    }